{extends file="layout.tpl"}
{block name=title}
    {$lang['KONTAKT']}
{/block}
{block name=body}

    <ul class="nav navbar-nav navbar-right">
        <div style="width: 500px; max-width: 800px; margin: auto; text-align: center;">
            {literal}
                <script type="text/javascript" src="http://www.in-pocasie.sk/pocasie-pre-web/pocasie-pre-web.php?typ=modern&amp;layout=pruh&amp;region=0&amp;barva-den=2086c0&amp;barva-teplota=125b8b&amp;dni=5&amp;lang=sk">
                </script>
            {/literal}
            <a href="http://www.in-pocasie.sk" title="In-počasie">In-počasie</a>
        </div><br />
    </ul>
    <h4><a href="http://www.stuba.sk/" style="text-decoration: none;">{$lang['STUBA']}</a></h4>
    <h4><a href="http://www.fei.stuba.sk/" style="text-decoration: none;">{$lang['FEI']}</a></h4>
    <p>Ilkovičova 3, 812 19 Bratislava</p>
    <br />
    <div id="googleMap"></div>



{/block}